<!--<div class="panel panel-default">
  <div class="panel-body">{{{content}}}</div>
</div>-->

<!--<div class="thumbnail">
      <a href="{{pic}}">
        <img src="templates/{{pic}}">
        <div class="caption">
          <p>{{{content}}}</p>
        </div>
      </a>
    </div>-->

<div class="panel panel-default">
	<div class="row">
		<div class="col-md-4"><img src="templates/{{pic}}" height="188px"></div>
		<div class="col-md-8">{{{content}}}</div>
	</div>
</div>
